# Flask
export TESTING=True
export DEBUG=True
export SECRET_KEY='xxxxxx - change me - xxxxxx'

# Emailing
export MAIL_DEFAULT_SENDER="{valid email address}"
export SMTP_SERVER="localhost"

# Database
#
# For example:
#  sqlite:////tmp/test.db
#  mysql+pymysql://username:password@server/db

export SQLALCHEMY_ECHO='False'
export SQLALCHEMY_DATABASE_URI="{valid database uri}"

# User details
export ADMIN_EMAIL_ADDRESS="{valid email address}"
export ADMIN_USERNAME="{valid email address}"
export ADMIN_PASSWORD="{password}"

# Security
export SECURITY_SEND_PASSWORD_CHANGE_EMAIL=False
export SECURITY_PASSWORD_SALT='xxxxxx - change me - xxxxxx'
export SECURITY_CONFIRM_SALT='xxxxxx - change me - xxxxxx'
export SECURITY_RESET_SALT='xxxxxx - change me - xxxxxx'
export SECURITY_LOGIN_SALT='xxxxxx - change me - xxxxxx'
export SECURITY_REMEMBER_SALT='xxxxxx - change me - xxxxxx'
export SECURITY_EMAIL_SENDER="xxxxxx - change me - xxxxxx"

# LDAP
# export LDAP_URI='xxxxxx - change me - xxxxxx'
# export LDAP_USER='xxxxxx - change me - xxxxxx'
# export LDAP_PASSWORD='xxxxxx - change me - xxxxxx'
# export LDAP_BASEDN='xxxxxx - change me - xxxxxx'
# export LDAP_BIND_WHO_FORMAT='xxxxxx - change me - xxxxxx'
# export LDAP_SEARCH_FORMAT='xxxxxx - change me - xxxxxx'
# export LDAP_FIELDNAME_USERID='xxxxxx - change me - xxxxxx'
# export LDAP_FIELDNAME_EMAIL='xxxxxx - change me - xxxxxx'
# export LDAP_FIELDNAME_GIVENNAME='xxxxxx - change me - xxxxxx'
# export LDAP_FIELDNAME_SURNAME='xxxxxx - change me - xxxxxx'
# export LDAP_TEST_USER='xxxxxx - change me - xxxxxx'

# Directories
export FILE_UPLOAD_DIRECTORY='{directory path}'

# Logging
export LOG_LOCATION=XXXXXXXXXXXXXXX
export LOG_LEVEL=XXXXXXXXXXXXXXX

# Printers
export PRINTER_DEV=XXXXXXXXXXXXXXX
export PRINTER_CVRC_LAB_SAMPLE=XXXXXXXXXXXXXXX
export PRINTER_BRU_CRF_SAMPLE=XXXXXXXXXXXXXXX
export PRINTER_BRU_CRF_BAG=XXXXXXXXXXXXXXX
export PRINTER_LIMB=XXXXXXXXXXXXXXX
export PRINTER_TMF_SAMPLE=XXXXXXXXXXXXXXX
export PRINTER_TMF_BAG=XXXXXXXXXXXXXXX
export PRINTER_ADDRESS=XXXXXXXXXXXXXXX

# Database Connection Strings
export LEGACY_BRICCS_ID_URI=XXXXXXXXXXXXXXX
export LEGACY_PSEUDORANDOM_ID_URI=XXXXXXXXXXXXXXX
export SQLALCHEMY_DATABASE_URI=XXXXXXXXXXXXXXX
export PMI_DB_URI=XXXXXXXXXXXXXXX
export ETL_CENTRAL_DB_URI=XXXXXXXXXXXXXXX
export CIVICRM_DB_URI=XXXXXXXXXXXXXXX

# REDCap
export REDCAP_USERNAME=XXXXXXXXXXXXXXX
export REDCAP_PASSWORD=XXXXXXXXXXXXXXX
export REDCAP_HOST=XXXXXXXXXXXXXXX

# Directories

# Celery
export BROKER_URL=XXXXXXXXXXXXXXX
export CELERY_RESULT_BACKEND=XXXXXXXXXXXXXXX
export CELERY_RATE_LIMIT=XXXXXXXXXXXXXXX
export CELERY_REDIRECT_STDOUTS_LEVEL=XXXXXXXXXXXXXXX
export CELERY_SERVER_NAME=XXXXXXXXXXXXXXX
export CELERY_DEFAULT_QUEUE=XXXXXXXXXXXXXXX

# Web Service
export SMSP_USERNAME=XXXXXXXXXXXXXXX
export SMSP_PASSWORD=XXXXXXXXXXXXXXX
export SMSP_URL=XXXXXXXXXXXXXXX

# REDCap Import Schedule
export REDCAP_PROJECT_SCHEDULE_MINUTE=XXXXXXXXXXXXXXX
export REDCAP_PROJECT_SCHEDULE_HOUR=XXXXXXXXXXXXXXX
export REDCAP_PARTICIPANTS_SCHEDULE_MINUTE=XXXXXXXXXXXXXXX
export REDCAP_PARTICIPANTS_SCHEDULE_HOUR=XXXXXXXXXXXXXXX


# Imports
export IMPORT_OLD_IDS=False
