Flask
sqlalchemy
WTForms
six
zeep
requests
openpyxl
celery>=5.2.2
chardet
Werkzeug
xlrd
xlwt
xlutils
jsonschema
matplotlib
Flask-WeasyPrint
-e git+https://github.com/LCBRU/lbrc_flask.git@main#egg=lbrc_flask
flask-security-too[fsqla,common]
alembic
pymysql
pyodbc
faker
cachetools