pymysql
Flask
Flask-SQLAlchemy
sqlalchemy-migrate
sqlalchemy<2.0
Flask-WTF==1.0.1
WTForms==3.0.1
WTForms-Components==0.10.5
Flask-Login
Flask-Mail
bcrypt
python-dotenv
python-ldap
Flask-Admin
six
zeep
requests
openpyxl
python-dateutil
celery==5.2.2
chardet
pyodbc
Werkzeug
xlrd
xlwt
xlutils
jsonschema
memoization
altair
pandas
matplotlib
weasyprint<53.0
Flask-WeasyPrint
-e git+https://github.com/LCBRU/lbrc_flask.git@main#egg=lbrc_flask
-e git+https://github.com/LCBRU/lbrc_edge.git@main#egg=lbrc_edge
