pymysql
Flask
Flask-SQLAlchemy
Flask-WTF
sqlalchemy-migrate
Flask-Login
Flask-Mail
bcrypt
python-dotenv
python-ldap
Flask-Admin
six
zeep
requests
openpyxl
python-dateutil
celery==4.4.2
chardet
pyodbc
Werkzeug
xlrd
xlwt
xlutils
flask-inputs
jsonschema
memoization
altair
pandas
matplotlib
weasyprint<53.0
Flask-WeasyPrint
-e git+https://github.com/LCBRU/lbrc_flask.git@main#egg=lbrc_flask
-e git+https://github.com/LCBRU/lbrc_edge.git@main#egg=lbrc_edge
