Flask
sqlalchemy
WTForms
six
zeep
requests
openpyxl
celery
chardet
Werkzeug
xlrd
xlwt
xlutils
jsonschema
matplotlib
Flask-WeasyPrint
-e git+https://github.com/LCBRU/lbrc_flask.git@main#egg=lbrc_flask
-e git+https://github.com/LCBRU/lbrc_edge.git@main#egg=lbrc_edge
flask-security-too[fsqla,common]
alembic
pymysql
pyodbc
faker