{% extends "_base.html" %}
{% import "_formHelpers.html" as formhelper %}
{% import "ui/demographics/help.html" as help %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-8">
        <div class="card study-card">
            <div class="card-header">
                <div class="float-right">
                    <a class="fas fa-question-circle" data-toggle="modal" data-target="#help_modal"></a>
                </div>
                <div>Define Columns for {{ demographics_request.filename }}</div>
            </div>
    
            <div class="card-body">
    
                <form id="demographics_define_columns" action="{{ url_for('ui.demographics_define_columns', id=demographics_request.id) }}" method="POST" class="form panel-body" enctype="multipart/form-data">
                    <fieldset>
                        {{ form.hidden_tag() }}
    
                        <p>
                            Match the columns from your uploaded filename
                            to the data types required by the matching
                            methods.
                        </p>
    
                        {% for f in form %}
                            {{ formhelper.render_field(f) }}
                        {% endfor %}
    
                        {{ formhelper.render_button_bar('ui.demographics', submit_label="Submit") }}
                    </fieldset>                   
                </form>
            </div>
        </div>            
    </div>
</div>

{{ help.columns() }}

{% endblock %}
