{% extends "ui/page.html" %}
{% import "lbrc_flask/form_macros.html" as formhelper %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-8">

        <div class="card study-card">
            <div class="card-header">
                <div>Delete {{ demographics_request.filename }}</div>
            </div>
    
            <div class="card-body">
            
                <form id="demographics_define_columns" action="{{ url_for('ui.demographics_delete', id=demographics_request.id) }}" method="POST" class="form panel-body" enctype="multipart/form-data">
                    <fieldset>
                        {{ form.hidden_tag() }}
        
                        <p>
                            Are you sure you want to <strong>delete</strong> the request for
                            file '{{ demographics_request.filename }}'?
                        </p>
                        
                        {{ formhelper.render_button_bar('ui.demographics', submit_label="Delete") }}
                    </fieldset>                   
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}
