{% extends "ui/menu_page.html" %}
{% from "lbrc/form_macros.html" import render_form_fields, render_field, render_button_bar, render_label %}
{% from "lbrc/pagination.html" import render_pagination %}
{% from "ui/demographics/column_help.html" import column_help_text %}

{% block menu_page_content %}

<div class="container with_sidebar">
    <section>
        <h2>Demographics</h2>
    
        <form action="{{ url_for('ui.demographics') }}" method="GET" enctype="multipart/form-data">
            <fieldset>
                {{ render_form_fields(search_form) }}
            </fieldset>
        </form>

        <div class="row">
            <div class="col">
                <ul class="list-group">
                    {% for dr in demographics_requests.items %}
                        <li class="list-group-item">
                            <div class='summary_details'>
                                <header>
                                    <h1>{{ dr.filename }} <span class="float-right badge badge-info">{{ dr.status }}</span></h1>
                                    <h2>Uploaded on {{ dr.created_datetime | date_format }} by {{ dr.owner.full_name }}</h2>
                                </header>
    
                                <a class="btn btn-secondary" href="{{ url_for('ui.demographics_download_request', id=dr.id) }}">Download Request File</a>
                                {% if dr.requires_column_definition %}
                                    <a class="btn btn-success" href="{{ url_for('ui.demographics_define_columns', id=dr.id) }}">Define Columns</a>
                                {% endif %}
                                {% if dr.requires_submission %}
                                    <a class="btn btn-success" href="{{ url_for('ui.demographics_submit', id=dr.id) }}">Submit</a>
                                {% endif %}
                                {% if dr.can_be_resubmitted and current_user.is_admin %}
                                    <a class="btn btn-danger" href="{{ url_for('ui.demographics_resubmit', id=dr.id) }}">Resubmit/Unpause request</a>
                                {% endif %}
                                {% if dr.can_be_paused and current_user.is_admin %}
                                    <a class="btn btn-danger" href="{{ url_for('ui.demographics_pause', id=dr.id) }}">Pause request</a>
                                {% endif %}
                                {% if dr.can_be_downloaded %}
                                    <a class="btn btn-success" href="{{ url_for('ui.demographics_download_result', id=dr.id) }}">Download Result</a>
                                {% endif %}
                                {% if dr.can_be_deleted %}
                                    <a class="btn btn-danger" href="{{ url_for('ui.demographics_delete', id=dr.id) }}">Delete Request</a>
                                {% endif %}
                                {% if dr.in_error and current_user.is_admin %}
                                    <a class="btn btn-warning" href="javascript://" data-toggle="modal" data-target="#help_modal" data-title="Demographics Error" data-text="{{ dr.error_message }}">View Error</a>
                                    <a class="btn btn-danger" href="{{ url_for('ui.demographics_clear_error', id=dr.id) }}">Clear Error</a>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
    
                {{ render_pagination(demographics_requests, 'ui.demographics', search_form) }}
            </div>
        </div>    
    </section>

    <section>
        <aside>
            <h2>Upload File <a hx-get="{{url_for('ui.demographics_column_help')}}" hx-target="body" hx-swap="beforeend" href="#" class="help"></a></h2>
            <form action="{{ url_for('ui.demographics_upload') }}" method="POST" enctype="multipart/form-data">
                <fieldset>
                    {{ render_form_fields(form) }}
                    {{ render_button_bar(submit_label="Upload") }}
                </fieldset>
            </form>
        </aside>
    </section>

</div>

<!-- Upload Progress Dialog Simple-->
<div class="modal fade" id="uploadProgressModalSimple" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="uploadProgressModalSimple" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadProgressModalLabel">Uploading data</h5>
            </div>
            <div class="modal-body">
                <div class="loader"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

<script>
    $("form#study_data_upload").submit(function(e){
        $('#uploadProgressModalSimple').modal('show');
    });
</script>

{% endblock %}