{% extends "ui/menu_page.html" %}
{% from "lbrc/form_macros.html" import render_form_fields, render_field, render_button_bar, render_label %}
{% from "lbrc/pagination.html" import render_pagination %}
{% from "ui/demographics/column_help.html" import column_help_text %}

{% block menu_page_content %}

<div class="container with_sidebar">
    <section>
        <header>
            <h2>Demographics</h2>
        </header>
    
        <form action="{{ url_for('ui.demographics') }}" method="GET" enctype="multipart/form-data">
            <fieldset>
                {{ render_form_fields(search_form) }}
            </fieldset>
        </form>

        <ul class="panel_list">
            {% for dr in demographics_requests.items %}
                <li>
                    <header>
                        <div>
                            <h2>{{ dr.filename }}</h2>
                            <h3>Uploaded on {{ dr.created_datetime | date_format }} by {{ dr.owner.full_name }}</h3>
                        </div>
                        <div>
                            <span class="pill">{{ dr.status }}</span>
                        </div>
                    </header>

                    <nav class="link_list">
                        <a href="{{ url_for('ui.demographics_download_request', id=dr.id) }}" class="icon download" role="button">Download&nbsp;Request&nbsp;File</a>
                        {% if dr.requires_column_definition %}
                            <a hx-get="{{ url_for('ui.demographics_define_columns', id=dr.id) }}" hx-target="body" hx-swap="beforeend" class="icon edit" role="button">Define&nbsp;Columns</a>
                        {% endif %}
                        {% if dr.requires_submission %}
                            <a hx-get="{{ url_for('ui.demographics_submit', id=dr.id) }}" hx-target="body" hx-swap="beforeend" class="icon play" role="button">Submit</a>
                        {% endif %}
                        {% if dr.can_be_resubmitted and current_user.is_admin %}
                            <a href="{{ url_for('ui.demographics_resubmit', id=dr.id) }}" class="icon play" role="button">Resubmit&nbsp;/&nbsp;Unpause&nbsp;Request</a>
                        {% endif %}
                        {% if dr.can_be_paused and current_user.is_admin %}
                            <a href="{{ url_for('ui.demographics_pause', id=dr.id) }}" class="icon pause" role="button">Pause&nbsp;Request</a>
                        {% endif %}
                        {% if dr.can_be_downloaded %}
                            <a href="{{ url_for('ui.demographics_download_result', id=dr.id) }}" class="icon download" role="button">Download&nbsp;Result</a>
                        {% endif %}
                        {% if dr.can_be_deleted %}
                            <a hx-post="{{ url_for('ui.demographics_delete', id=dr.id) }}" hx-confirm="Are you sure you wish to delete this request?" class="icon delete" role="button">Delete&nbsp;Request</a>
                        {% endif %}
                        {% if dr.in_error and current_user.is_admin %}
                            <a href="javascript://" class="icon error" data-toggle="modal" data-target="#help_modal" data-title="Demographics Error" data-text="{{ dr.error_message }}" role="button">View&nbsp;Error</a>
                            <a href="{{ url_for('ui.demographics_clear_error', id=dr.id) }}" class="icon clear" role="button">Clear Error</a>
                        {% endif %}
                    </nav>
                </li>
            {% endfor %}
        </ul>

        {{ render_pagination(demographics_requests, 'ui.demographics', search_form) }}
    </section>

    <section>
        <aside>
            <h2>Upload File <a hx-get="{{url_for('ui.demographics_column_help')}}" hx-target="body" hx-swap="beforeend" href="#" class="help"></a></h2>
            <form action="{{ url_for('ui.demographics_upload') }}" hx-post="{{ url_for('ui.demographics_upload') }}" hx-target="body" hx-swap="beforeend" method="POST" enctype="multipart/form-data">
                <fieldset>
                    {{ render_form_fields(form) }}
                    {{ render_button_bar(submit_label="Upload") }}
                </fieldset>
            </form>
        </aside>
    </section>

</div>

{% endblock %}
