{% extends "lbrc/modal.html" %}
{% from "lbrc/form_macros.html" import render_form_fields, render_modal_button_bar %}


{% block content %}
    <h2>Submit {{ demographics_request.filename }}</h2>

    <form hx-post="{{ url_for('ui.demographics_submit', id=demographics_request.id) }}" method="POST" enctype="multipart/form-data">
        <fieldset>
            {{ form.hidden_tag() }}

            <p>
                The file '{{ demographics_request.filename }}' is ready for submission.
                Once the file is submitted it <strong>cannot be amended</strong>,
                but it <strong>can be deleted</strong>.
            </p>
        
            <p>
                The file will take a while to process.  You will be
                emailed once the demographics lookup is complete.
            </p>
        
            {{render_modal_button_bar(submit_label="Submit")}}
        </fieldset>
    </form>
{% endblock %}
