{% extends "ui/menu_page.html" %}
{% from "lbrc/form_macros.html" import render_form_fields, render_field_and_submit %}
{% from "lbrc/pagination.html" import render_pagination %}

{% block menu_page_content %}
<div class="container with_sidebar">
    <section>
        <header>
            <h2>
                <span>{{ study.name }}</span>
                <a title="Edit study details" href="#" hx-get="{{ url_for('ui.study_edit', id=study.id ) }}" hx-target="body" hx-swap="beforeend"><i class="fas fa-edit"></i></a>
            </h2>
        </header>

        <dl class="concatenated">
            {% if edge_site_study %}
                <dt>EDGE ID</dt>
                <dd><a href="https://www.edge.nhs.uk/Project/Details/{{ edge_site_study.project_id }}" target='_blank'>{{edge_site_study.project_short_title}}</a></dd>
                <dt>IRAS Number</dt>
                <dd>{{ edge_site_study.iras_number | blank_if_none }}</dd>
            {% endif %}
            {% if civicrm_study %}
                <dt>CiviCRM Study</dt>
                <dd>{{ civicrm_study.name | blank_if_none }}</dd>
            {% endif %}
        </dl>

        <form action="{{ url_for('ui.study', id=study.id) }}" method="GET" enctype="multipart/form-data">
            <fieldset>
                {{ render_form_fields(search_form) }}
            </fieldset>
        </form>

        <ul class="panel_list">
            {% for p in participants %}
                <li>
                    <header>
                        <div>
                            <h2>{{ p.contact.full_name }}</h2>
                        </div>
                        <div>
                            <span class="pill">{{ p.status.name }}</span>
                        </div>
                    </header>
                    <dl class="columns">
                        <dt>Recruitment Date</dt>
                        <dd>{{ p.start_date | date_format }}</dd>
                        <dt>NHS Number</dt>
                        <dd>{{ p.contact.contact_ids.nhs_number }}</dd>
                        <dt>UHL System Number</dt>
                        <dd>{{ p.contact.contact_ids.uhl_system_number }}</dd>
                        <dt>Date of Birth</dt>
                        <dd>{{ p.contact.birth_date | date_format }}</dd>
                        <dt>Gender</dt>
                        <dd>{{ p.contact.gender.name }}</dd>
                    </dl>
                </li>
            {% endfor %}
        </ul>

        {{ render_pagination(participants, 'ui.study', search_form, id=study.id) }}
      
    </section>

    <section>
        {% if study.label_bundles | length > 0 %}
            <aside>
                <h2>Labels</h2>
                {% for l in study.label_bundles | sort(attribute='name') %}
                    <section>
                        <a class="lock_screen" href="#" hx-get="{{ url_for('ui.label_bundle_definition', label_bundle_id=l.id, count=5 ) }}" hx-target="body" hx-swap="beforeend" role="button">{{ l.name }}</a>
                    </section>
                {% endfor %}
            </aside>
        {% endif %}

        {% if blinding_form %}
            <aside>
                <h2>Blinding</h2>
                <form action="{{ url_for('ui.blinding', id=study.id) }}" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        {{blinding_form.hidden_tag()}}
                        {{render_field_and_submit(blinding_form.id, submit_label="Blind", placeholder='Participant ID')}}
                    </fieldset>
                </form>
            </aside>
        {% endif %}

        {% if unblinding_form %}
            <aside>
                <h2>Unblinding</h2>
                <form id="study_data_upload" action="{{ url_for('ui.unblinding', id=study.id) }}" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        {{unblinding_form.hidden_tag()}}
                        {{render_field_and_submit(unblinding_form.id, submit_label="Unblind", placeholder='Blinded ID')}}
                    </fieldset>
                </form>
            </aside>
        {% endif %}
    </section>
</div>
{% endblock %}
