{% extends "ui/menu_page.html" %}
{% from "lbrc/form_macros.html" import render_field_and_submit %}

{% block menu_page_content %}

<div class="container with_sidebar">
    <section>
        <header>
            <h2>
                <span>{{ study.name }}</span>
                <a title="Edit study details" href="#" hx-get="{{ url_for('ui.study_edit', id=study.id ) }}" hx-target="body" hx-swap="beforeend"><i class="fas fa-edit"></i></a>
            </h2>
        </header>

        <dl class="concatenated">
            {% if edge_site_study %}
                <dt>EDGE ID</dt>
                <dd><a href="https://www.edge.nhs.uk/Project/Details/{{ edge_site_study.project_id }}" target='_blank'>{{edge_site_study.project_short_title}}</a></dd>
                <dt>IRAS Number</dt>
                <dd>{{ edge_site_study.iras_number | blank_if_none }}</dd>
            {% endif %}
            {% if civicrm_study %}
                <dt>CiviCRM Study</dt>
                <dd>{{ civicrm_study.name | blank_if_none }}</dd>
            {% endif %}
        </dl>
    </section>

    <section>
        {% if study.label_bundles | length > 0 %}
            <aside>
                <h2>Labels</h2>
                {% for l in study.label_bundles | sort(attribute='name') %}
                    <section>
                        <a class="lock_screen"  href="#" hx-get="{{ url_for('ui.label_bundle_definition', label_bundle_id=l.id, count=5 ) }}" hx-target="body" hx-swap="beforeend" role="button">{{ l.name }}</a>
                    </section>
                {% endfor %}
            </aside>
        {% endif %}

        {% if blinding_form %}
            <aside>
                <h2>Blinding</h2>
                <form action="{{ url_for('ui.blinding', id=study.id) }}" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        {{blinding_form.hidden_tag()}}
                        {{render_field_and_submit(blinding_form.id, submit_label="Blind", placeholder='Participant ID')}}
                    </fieldset>
                </form>
            </aside>
        {% endif %}

        {% if unblinding_form %}
            <aside>
                <h2>Unblinding</h2>
                <form id="study_data_upload" action="{{ url_for('ui.unblinding', id=study.id) }}" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        {{unblinding_form.hidden_tag()}}
                        {{render_field_and_submit(unblinding_form.id, submit_label="Unblind", placeholder='Blinded ID')}}
                    </fieldset>
                </form>
            </aside>
        {% endif %}
    </section>
</div>
{% endblock %}
