{% extends "lbrc_flask/page.html" %}
{% from "lbrc_flask/nav_macros.html" import render_nav_link with context %}
{% from "lbrc_flask/nav_macros.html" import render_nav_item %}

{% block navlinks %}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Studies</a>
    <div class="dropdown-menu wide" aria-labelledby="navbarDropdown">
        {% for s in user_studies | sort(attribute='name') %}
            {{ render_nav_link('ui.study', s.name, id=s.id, match_full_path=True) }}
        {% endfor %}
    </div>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {{ render_nav_link('ui.labels', 'Labels') }}
        {{ render_nav_link('ui.demographics', 'Demographics') }}
    </div>
</li>

{{ render_nav_item('ui.labels', 'Labels') }}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tracker</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {{ render_nav_link('ui.study_tracker_rag', 'RAG Report') }}
        {{ render_nav_link('ui.study_tracker_gantt', 'Gantt Chart') }}
        {{ render_nav_link('ui.study_tracker_gantt2', 'Gantt Chart 2') }}
    </div>
</li>
{% endblock %}

{% block adminlinks %}
<a class="dropdown-item" href="{{url_for('crfs.index')}}">CRFs</a>
{% endblock %}
