{% extends "_base.html" %}
{% import "_formHelpers.html" as formhelper %}
{% import "ui/study_labels.html" as study_labels %}

{% block content %}

{% if blinding_info %}
    <div class="alert alert-success" role="alert">
        <h3>{{blinding_info.blinding_set_name }} blind IDs created for ID '{{ blinding_info.unblind_id }}':</h3>
        <dl>
            {% for key, value in blinding_info.blind_ids.items() %}
                <dt>{{ key }}</dt>
                <dd>{{ value }}</dd>
            {% endfor %}
        </dl>
    </div>
{% endif %}

<div class="row">
    <div class="col-sm-6 col-md-7 col-xl-9">
        <section>
            <h2>{{ study.name }}</h2>

            {% if participants.items | length > 0 %}

                <ul class="list-group">

                    {% for p in participants.items %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-12">
                                    <h1>{{ p.identifier }}</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <h2>REDCap</h2>
                                    <ul>
                                        {% for rp in study.redcap_projects %}
                                            <li><a href='{{ rp.get_link(p.identifier) }}' target="_blank">{{ rp.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-4">
                                    <h2>Identifiers</h2>
                                    <ul>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
        
            {% endif %}
        
            {{ formhelper.render_pagination(participants, 'ui.study') }}
      

        </section>                
    </div>
    <div class="col-sm-6 col-md-5 col-xl-3">
        {% if study.label_packs | length > 0 %}

            <div class="card study-card">
                <div class="card-header">Label Printing</div>

                <div class="card-body text-center">
                    {{ study_labels.study_label_list(study, 'study') }}
                </div>        
            </div>
            
        {% endif %}

        {% if blinding_form %}

            <div class="card study-card">
                <div class="card-header">Blinding</div>

                <div class="card-body">
                    <form id="study_data_upload" action="{{ url_for('ui.blinding', id=study.id) }}" method="POST" enctype="multipart/form-data">
                        <fieldset>
                            {{ blinding_form.hidden_tag() }}
                            
                            {% for f in blinding_form %}
                                {{ formhelper.render_field(f) }}
                            {% endfor %}
                    
                            {{ formhelper.render_button_bar(submit_label='Blind') }}
                        </fieldset>                
                    </form>
                </div>
            </div>
            
        {% endif %}

        {% if unblinding_form %}

        <div class="card study-card">
            <div class="card-header">Unblinding</div>

            <div class="card-body">

                <form id="study_data_upload" action="{{ url_for('ui.unblinding', id=study.id) }}" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        {{ unblinding_form.hidden_tag() }}
                        
                        {% for f in unblinding_form %}
                            {{ formhelper.render_field(f) }}
                        {% endfor %}
                
                        {{ formhelper.render_button_bar(submit_label='Unblind') }}
                    </fieldset>                   
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
