{% extends "ui/page.html" %}
{% import "lbrc_flask/form_macros.html" as formhelper %}
{% import "ui/study_labels.html" as study_labels %}
{% import "ui/study_label_bundles.html" as study_label_bundles %}

{% block content %}

<div class="row">
    <div class="col-md-7 col-lg-8 col-xl-9">
        <section>
            <h2>{{ study.name }}</h2>

            <dl class="page-header">
                {% if edge_site_study %}
                    <dt>EDGE ID</dt>
                    <dd><a href="https://www.edge.nhs.uk/Project/Details/{{ edge_site_study.project_id }}" target='_blank'>{{edge_site_study.project_id}} <i class="fas fa-external-link-alt fa-xs"></i></a></dd>
                    <dt>IRAS Number</dt>
                    <dd>{{ edge_site_study.iras_number | blank_if_none }}</dd>
                {% endif %}
            </dl>
        </section>                
    </div>
    <div class="col-md-5 col-lg-4 col-xl-3">
        {% if redcaps | length > 0 %}

            <div class="card study-card">
                <div class="card-header">REDCaps</div>

                <div class="card-body text-center">
                    <div>
                        {% for rp in redcaps %}
                            <a href='{{ rp.get_link() }}' class="list-group-item list-group-item-action" target='_blank'>{{ rp.name }}</a>
                        {% endfor %}
                    </div>
                </div>        
            </div>
            
        {% endif %}

        {% if study.label_packs | length > 0 and False %}

            <div class="card study-card">
                <div class="card-header">Label Printing</div>

                <div class="card-body text-center">
                    {{ study_labels.study_label_list(study, 'study') }}
                </div>        
            </div>
            
        {% endif %}

        {% if study.label_bundles | length > 0 %}

            <div class="card study-card">
                <div class="card-header">Label Printing</div>

                <div class="card-body text-center">
                    {{ study_label_bundles.study_label_list(study, 'study') }}
                </div>        
            </div>
            
        {% endif %}

        {% if blinding_form %}

            <div class="card study-card">
                <div class="card-header">Blinding</div>

                <div class="card-body">
                    <form id="study_data_upload" action="{{ url_for('ui.blinding', id=study.id) }}" method="POST" enctype="multipart/form-data">
                        <fieldset>
                            {{ blinding_form.hidden_tag() }}
                            
                            {% for f in blinding_form %}
                                {{ formhelper.render_field(f) }}
                            {% endfor %}
                    
                            {{ formhelper.render_button_bar(submit_label='Blind') }}
                        </fieldset>                
                    </form>
                </div>
            </div>
            
        {% endif %}

        {% if unblinding_form %}

        <div class="card study-card">
            <div class="card-header">Unblinding</div>

            <div class="card-body">

                <form id="study_data_upload" action="{{ url_for('ui.unblinding', id=study.id) }}" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        {{ unblinding_form.hidden_tag() }}
                        
                        {% for f in unblinding_form %}
                            {{ formhelper.render_field(f) }}
                        {% endfor %}
                
                        {{ formhelper.render_button_bar(submit_label='Unblind') }}
                    </fieldset>                   
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
